.blog-post-container a {
  text-decoration: none;
  border-bottom: 1px solid hsla(0,0%,0%,0.8);
  color: hsla(0,0%,0%,0.8);
}

.blog-post-container a:visited {
    color: hsla(0,0%,0%,0.8);
}

.colors {
  --red: #B4312F;
  --teal: #3D889F;
  --yellow: #D8B948;
  --green: #367643;
  --pink: #BF3C66;
  --darkBlue: #17194D;
  --beige: #E6D9C5;
  --gray: #8E8682;
}