body, .container {
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting, .svg-container {
    flex-grow: 1;
    min-width: 150px;
    max-width: 300px;
}

.svg-container svg {
    vertical-align: middle;
}

.greeting {
    padding: 0 20px;
}