@media (max-width: 319px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 320px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}